{% extends '@__main__/base/public/layouts/default.html.twig' %}

{% block content %}
    <main class="dtl-prd">
        {% include '@__main__/base/public/partials/breadcrumb.html.twig' %}
        <section>
            <div class="container">
                <div class="box">
                    <div class="row">
                        <div class="dc6 tc12">
                            <div class="img">
                                <div class="dtl-s swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="{{ asset('dist/img/product-detail.png') }}" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="{{ asset('dist/img/product-detail.png') }}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-2">
                                <div class="dtl-t swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="{{ asset('dist/img/product-detail.png') }}" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="{{ asset('dist/img/product-detail.png') }}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dc6 tc12">
                            <div class="prd-info">
                                <h2>Kebaya Pegringsingan</h2>
                                <h3 class="price"><b>Rp. 500.000/hari</b></h3>
                                <div class="text">
                                    <h6>Deskripsi Barang</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu neque porttitor, placerat ex id, condimentum magna. Mauris blandit accumsan tincidunt. Aliquam sit amet bibendum orci. Suspendisse ut viverra nisi, sed interdum nulla. Donec a purus eu purus sodales Aliquam sit amet bibendum orci. Suspendisse ut viverra nisi, sed interdum nulla.
                                    </p>
                                </div>
                                <div class="rnt">
                                    <span class="rate-wrp">
                                        <b>20 ulasan</b>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                    <div class="right-side">
                                        <span><i class="fas fa-tag"></i> 26</span>
                                        <span><i class="fas fa-eye"></i> 20</span>
                                        <span><i class="fas fa-star"></i> 16</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="seller">
                                    <figure>
                                        <img src="{{ asset('dist/img/product.png') }}" alt="">
                                    </figure>
                                    <div class="seller-info">
                                        <h4>Kebaya Bali</h4>
                                        <p>Kota Denpasar</p>
                                    </div>
                                    <a href="javascript:void(0);" class="gBtn">Kunjungi Toko</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="rvw-list">
                        <h4>Ulasan Kebaya Pegringsingan</h4>
                        <div class="rvw">
                            <figure><img src="{{ asset('dist/img/user.jpg') }}" alt=""></figure>
                            <div class="user">
                                <h6>John Doe Lorem</h6>
                                <small>Kota Denpasar</small>
                            </div>
                            <div class="fb">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="clear"></div>
                            <div class="rvw-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                                </p>
                            </div>
                        </div>
                        <div class="rvw">
                            <figure><img src="{{ asset('dist/img/user.jpg') }}" alt=""></figure>
                            <div class="user">
                                <h6>John Doe Lorem</h6>
                                <small>Kota Denpasar</small>
                            </div>
                            <div class="fb">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="clear"></div>
                            <div class="rvw-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                                </p>
                            </div>
                        </div>
                        <div class="rvw">
                            <figure><img src="{{ asset('dist/img/user.jpg') }}" alt=""></figure>
                            <div class="user">
                                <h6>John Doe Lorem</h6>
                                <small>Kota Denpasar</small>
                            </div>
                            <div class="fb">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="clear"></div>
                            <div class="rvw-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                                </p>
                            </div>
                        </div>
                        <div class="rvw">
                            <figure><img src="{{ asset('dist/img/user.jpg') }}" alt=""></figure>
                            <div class="user">
                                <h6>John Doe Lorem</h6>
                                <small>Kota Denpasar</small>
                            </div>
                            <div class="fb">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="clear"></div>
                            <div class="rvw-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                                </p>
                            </div>
                        </div>
                        <div class="rvw">
                            <figure><img src="{{ asset('dist/img/user.jpg') }}" alt=""></figure>
                            <div class="user">
                                <h6>John Doe Lorem</h6>
                                <small>Kota Denpasar</small>
                            </div>
                            <div class="fb">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="clear"></div>
                            <div class="rvw-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                                </p>
                            </div>
                        </div>
                        <div class="rvw">
                            <figure><img src="{{ asset('dist/img/user.jpg') }}" alt=""></figure>
                            <div class="user">
                                <h6>John Doe Lorem</h6>
                                <small>Kota Denpasar</small>
                            </div>
                            <div class="fb">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="clear"></div>
                            <div class="rvw-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                                </p>
                            </div>
                        </div>
                        <div class="rvw">
                            <figure><img src="{{ asset('dist/img/user.jpg') }}" alt=""></figure>
                            <div class="user">
                                <h6>John Doe Lorem</h6>
                                <small>Kota Denpasar</small>
                            </div>
                            <div class="fb">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="clear"></div>
                            <div class="rvw-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                                </p>
                            </div>
                        </div>
                        <div class="rvw">
                            <figure><img src="{{ asset('dist/img/user.jpg') }}" alt=""></figure>
                            <div class="user">
                                <h6>John Doe Lorem</h6>
                                <small>Kota Denpasar</small>
                            </div>
                            <div class="fb">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="clear"></div>
                            <div class="rvw-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                                </p>
                            </div>
                        </div>
                        <div class="rvw">
                            <figure><img src="{{ asset('dist/img/user.jpg') }}" alt=""></figure>
                            <div class="user">
                                <h6>John Doe Lorem</h6>
                                <small>Kota Denpasar</small>
                            </div>
                            <div class="fb">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="clear"></div>
                            <div class="rvw-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                                </p>
                            </div>
                        </div>
                        <div class="rvw">
                            <figure><img src="{{ asset('dist/img/user.jpg') }}" alt=""></figure>
                            <div class="user">
                                <h6>John Doe Lorem</h6>
                                <small>Kota Denpasar</small>
                            </div>
                            <div class="fb">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="clear"></div>
                            <div class="rvw-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                                </p>
                            </div>
                        </div>
                        <div class="pg-page">
                            <a href="javascript:void(0);">Prev</a>
                            <a href="javascript:void(0);">1</a>
                            <span>...</span>
                            <a href="javascript:void(0);">3</a>
                            <a href="javascript:void(0);" class="active">4</a>
                            <a href="javascript:void(0);">5</a>
                            <span>...</span>
                            <a href="javascript:void(0);">10</a>
                            <a href="javascript:void(0);">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-list">
                <div class="container">
                    <div class="box">
                        <h4>Produk lain dari toko ini</h4>
                        <div class="row">
                            <div class="dc3 tc6 mc12 single-item-detail">
                                <div class="box">
                                    <figure>
                                        <a href="javascript:void(0);"><img src="{{ asset('dist/img/product.png') }}" alt=""></a>
                                    </figure>
                                    <a href="javascript:void(0);" class="wishlist-btn">
                                        <i class="fas fa-heart"></i>
                                        <i class="far fa-heart"></i>
                                    </a>
                                    <div class="description">
                                        <h6><a href="javascript:void(0);">Kebaya Kartini</a></h6>
                                        <p>Kota Denpasar</p>
                                        <div class="stat-wrapper row">
                                            <p class="dc4"><i class="fas fa-tag"></i> 26</p>
                                            <p class="dc4"><i class="fas fa-eye"></i> 20</p>
                                            <p class="dc4"><i class="fas fa-star"></i> 16</p>
                                        </div>
                                    </div>
                                    <div class="vendor-info">
                                        <p><a href="javascript:void(0);">Kebaya Bali</a></p>
                                        <a href="javascript:void(0);" class="chat"><i class="fas fa-envelope"></i></a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="dc3 tc6 mc12 single-item-detail">
                                <div class="box">
                                    <figure>
                                        <a href="javascript:void(0);"><img src="{{ asset('dist/img/product.png') }}" alt=""></a>
                                    </figure>
                                    <a href="javascript:void(0);" class="wishlist-btn">
                                        <i class="fas fa-heart"></i>
                                        <i class="far fa-heart"></i>
                                    </a>
                                    <div class="description">
                                        <h6><a href="javascript:void(0);">Kebaya Kartini</a></h6>
                                        <p>Kota Denpasar</p>
                                        <div class="stat-wrapper row">
                                            <p class="dc4"><i class="fas fa-tag"></i> 26</p>
                                            <p class="dc4"><i class="fas fa-eye"></i> 20</p>
                                            <p class="dc4"><i class="fas fa-star"></i> 16</p>
                                        </div>
                                    </div>
                                    <div class="vendor-info">
                                        <p><a href="javascript:void(0);">Kebaya Bali</a></p>
                                        <a href="javascript:void(0);" class="chat"><i class="fas fa-envelope"></i></a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="dc3 tc6 mc12 single-item-detail">
                                <div class="box">
                                    <figure>
                                        <a href="javascript:void(0);"><img src="{{ asset('dist/img/product.png') }}" alt=""></a>
                                    </figure>
                                    <a href="javascript:void(0);" class="wishlist-btn">
                                        <i class="fas fa-heart"></i>
                                        <i class="far fa-heart"></i>
                                    </a>
                                    <div class="description">
                                        <h6><a href="javascript:void(0);">Kebaya Kartini</a></h6>
                                        <p>Kota Denpasar</p>
                                        <div class="stat-wrapper row">
                                            <p class="dc4"><i class="fas fa-tag"></i> 26</p>
                                            <p class="dc4"><i class="fas fa-eye"></i> 20</p>
                                            <p class="dc4"><i class="fas fa-star"></i> 16</p>
                                        </div>
                                    </div>
                                    <div class="vendor-info">
                                        <p><a href="javascript:void(0);">Kebaya Bali</a></p>
                                        <a href="javascript:void(0);" class="chat"><i class="fas fa-envelope"></i></a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="dc3 tc6 mc12 single-item-detail">
                                <div class="box">
                                    <figure>
                                        <a href="javascript:void(0);"><img src="{{ asset('dist/img/product.png') }}" alt=""></a>
                                    </figure>
                                    <a href="javascript:void(0);" class="wishlist-btn">
                                        <i class="fas fa-heart"></i>
                                        <i class="far fa-heart"></i>
                                    </a>
                                    <div class="description">
                                        <h6><a href="javascript:void(0);">Kebaya Kartini</a></h6>
                                        <p>Kota Denpasar</p>
                                        <div class="stat-wrapper row">
                                            <p class="dc4"><i class="fas fa-tag"></i> 26</p>
                                            <p class="dc4"><i class="fas fa-eye"></i> 20</p>
                                            <p class="dc4"><i class="fas fa-star"></i> 16</p>
                                        </div>
                                    </div>
                                    <div class="vendor-info">
                                        <p><a href="javascript:void(0);">Kebaya Bali</a></p>
                                        <a href="javascript:void(0);" class="chat"><i class="fas fa-envelope"></i></a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buy-wrapper">
                <div class="container">
                    <div class="left-side">
                        <h5>Beli Kebaya Pegringsingan</h5>
                        <p>Kebaya Bali</p>
                    </div>
                    <div class="right-side">
                        <b class="desktop-only">Quantity</b>
                        <b class="block-mobile">Qty</b>
                        <div class="input input--mm">
                            <input type="text" value="1" title="">
                            <button class="min">-</button>
                            <button class="max">+</button>
                        </div>
                        <button class="sBtn red"><i class="fas fa-shopping-cart"></i> Add to cart</button>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
