{% extends '@__main__/base/public/layouts/default.html.twig' %}

{% block content %}
    <main class="form-page">
        <section>
            <div class="ctr fc">
                <h2>{{ 'title.forgot_password'|trans }}</h2>
                <form action="" method="post" accept-charset="UTF-8">
                    <div class="input">
                        <input type="text" name="email" value="" placeholder="{{ 'label.email'|trans }}">
                    </div>
                    <div class="input">
                        <input type="submit" value="{{ 'button.submit'|trans }}" class="sBtn blue">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token(token_id) }}">
                        <input type="hidden" name="_csrf_token_id" value="{{ token_id }}">
                        <div class="right-side">
                            <p>
                                {{ 'message.info.no_account'|trans }}
                                <a href="{{ path('register') }}">{{ 'message.info.no_account_act'|trans }}</a>
                            </p>
                            <p>
                                {{ 'message.info.have_account'|trans }}
                                <a href="{{ path('login') }}">{{ 'message.info.have_account_act'|trans }}</a>
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {% if messages %}
        <script>
            $(function() {
                var title = '{{ messages.email }}';

                $('#popup-general .popup-title-holder').html(title);
                $('#popup-general .btn-wrapper').html(close_button);
                $('#popup-general').show();
            });
        </script>
    {% endif %}
{% endblock %}
