{% extends '@__main__/public/base/layouts/default.html.twig' %}

{% block content %}
    <main class="nothing-page">
        <section>
            <div class="container">
                <div class="row">
                    <div class="dc6 mc12 auto">
                        <div class="box login-wrapper">
                            <h1 class="ct">{{ 'title.login'|trans }}</h1>
                            <form id="login-form" action="{{ path(login_path) }}" method="post" accept-charset="UTF-8">
                                <div class="input">
                                    {% set field_username = app.request.query.get("email") is defined and app.request.query.get("email") is not empty ? app.request.query.get("email") : last_username %}
                                    <input type="text" name="_username" value="{{ field_username }}" title="" placeholder="{{ 'label.email'|trans }}">
                                </div>
                                <div class="input">
                                    <input type="password" name="_password" id="passwordField" title="" placeholder="{{ 'label.password'|trans }}">
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="show_password" id="showPassword" onclick="showPasswordClick()">
                                    <label style="display: inline;font-size: 13px;">Show Password</label>
                                </div>
                                <div class="input">
                                    <input type="submit" value="{{ 'button.login'|trans }}" class="sBtn red">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <input type="hidden" name="_target_path" value="{{ target_path }}">
                                    <div class="left-side" style="width: 100%;">
                                        <p>
                                            {{ 'message.info.no_account'|trans }}
                                            <a href="{{ path('register') }}">{{ 'message.info.no_account_act'|trans }}</a>
                                        </p>
                                        <p>
                                            {{ 'message.info.forgot_password'|trans }}
                                            <a href="{{ path('forgot_password') }}">{{ 'message.info.forgot_password_act'|trans }}</a>
                                        </p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {% if error %}
        <script>
            $(function() {
                showGeneralPopup('{{ popup_text }}');
            });
        </script>
    {% endif %}
    <script>
        function showPasswordClick(){
            if ($('#passwordField').attr('type') == 'password') {
                $('#passwordField').attr('type', 'text')
            } else {
                $('#passwordField').attr('type', 'password')
            }
        }
    </script>
{% endblock %}
