{% extends '@__main__/base/public/layouts/default.html.twig' %}

{% block content %}
    {% if valid %}
        <main class="form-page">
            <section>
                <div class="ctr fc">
                    <h2>{{ 'title.recover_password'|trans }}</h2>
                    <form action="" method="post" accept-charset="UTF-8">
                        <div class="input">
                            <input type="password" name="password" title="" placeholder="{{ 'label.password'|trans }}">
                        </div>
                        <div class="input">
                            <input type="password" name="confirm_password" title="" placeholder="{{ 'label.confirm_password'|trans }}">
                        </div>
                        <div class="input">
                            <input type="submit" class="sBtn blue" value="{{ 'button.submit'|trans }}">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token(token_id) }}">
                            <input type="hidden" name="_csrf_token_id" value="{{ token_id }}">
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if messages %}
        <script>
            $(function() {
                showGeneralPopup('{{ messages.password }}');
            });
        </script>
    {% endif %}
{% endblock %}
