<section class="brc">
    <div class="container">
        <span class="mobile"><a href="{{ path('homepage') }}">{{ 'title.page.app'|trans }}</a></span>
        <span class="mobile"><i class="fas fa-chevron-right"></i></span>
        {% for crumb in breadcrumbs %}
            {% if loop.last %}
                <span class="current mobile"><a href="javascript:void(0);">{{ crumb['label']|raw }}</a></span>
            {% else %}
                {% if crumb['id'] is defined and crumb['id'] == 'state-search' %}
                    <span><a id="{{ crumb['id'] }}" href="javascript:void(0);">{{ crumb['label']|raw }}</a></span>
                {% else %}
                    {% set href = crumb['href'] is defined ? crumb['href'] : 'javascript:void(0);' %}
                    <span><a href="{{ href }}">{{ crumb['label']|raw }}</a></span>
                {% endif %}
                <span><i class="fas fa-chevron-right"></i></span>
            {% endif %}
        {% endfor %}
    </div>
</section>
