{% extends '@__main__/public/base/layouts/default.html.twig' %}

{% block content %}
    <main class="form-page">
        <section>
            <div class="container">
                <h2>{{ 'title.recover_password'|trans }}</h2>
                <form action="" method="post" accept-charset="UTF-8">
                    <div class="input">
                        <input type="password" name="password" value="" title="" placeholder="{{ 'label.password'|trans }}">
                    </div>
                    <div class="input">
                        <input type="password" name="confirm_password" value="" title="" placeholder="{{ 'label.confirm_password'|trans }}">
                    </div>
                    <div class="input">
                        <input type="submit" value="{{ 'button.submit'|trans }}" class="sBtn red">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token(token_id) }}">
                        <input type="hidden" name="_csrf_token_id" value="{{ token_id }}">
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {% if messages %}
        <script>
            $(function() {
                showGeneralPopup('{{ messages.password }}');
            });
        </script>
    {% endif %}
{% endblock %}
