{% set sub_index = 0 %}
{% set sub_child_index = 0 %}

<li class="block-mobile">
    <a href="javascript:void(0)" class="cat-mobile-btn">
        <i class="fas fa-store"></i> {{ 'label.category'|trans }}
    </a>
    <div class="cat-mobile-wrapper">
        {% for category in categories %}
            {% set category_id = category['id'] %}
            <div class="acc acc--hover">
                <a id="parent-category-mb-{{ category['id'] }}" href="javascript:void(0);" class="btn-gtm-bm-pcc find-category-mb" data-index="{{ loop.index0 }}" data-id="{{ category['id'] }}" data-parent="0" data-level="0">
                    <i class="fas {{ category['class']|default('fa-concierge-bell') }}"></i> {{ category['text'] }}
                </a>
                <div>
                    <input id="gtm-pcc-name-{{ category_id }}" type="hidden" value="{{ category['text'] }}">
                    <input id="gtm-pcc-id-{{ category_id }}" type="hidden" value="{{ category_id }}">
                </div>
                {% if category['children']|length > 0 %}
                    <button class="acc__button"></button>
                    <div class="acc__child">
                        {% for child in category['children'] %}
                            {% if child['status'] == 1 %}
                                {% set sub_child = child['children'] %}
                                {% set sub_child_category_id = child['id'] %}
                                <div class="input--child acc">
                                    <a id="sub-category-mb-{{ child['id'] }}" href="javascript:void(0);" class="btn-gtm-bm-pcc find-category-mb" data-index="{{ sub_index }}" data-id="{{ child['id'] }}" data-parent="{{ category['id'] }}" data-level="1">
                                        {{ child['text'] }}
                                    </a>
                                    <div>
                                        <input id="gtm-pcc-name-{{ sub_child_category_id }}" type="hidden" value="{{ child['text'] }}">
                                        <input id="gtm-pcc-id-{{ sub_child_category_id }}" type="hidden" value="{{ sub_child_category_id }}">
                                    </div>
                                    {% if sub_child|length > 0 %}
                                        <button class="acc__button"></button>
                                        <div class="acc__child">
                                            {% for grand_child in sub_child %}
                                                {% if grand_child['status'] == 1 %}
                                                    {% set grand_child_category_id = grand_child['id'] %}
                                                    <div class="input--child">
                                                        <a href="javascript:void(0);" class="btn-gtm-bm-pcc find-category-mb" data-index="{{ sub_child_index }}" data-id="{{ grand_child['id'] }}" data-parent="{{ child['id'] }}" data-level="2">
                                                            {{ grand_child['text'] }}
                                                        </a>
                                                        <div>
                                                            <input id="gtm-pcc-name-{{ grand_child_category_id }}" type="hidden" value="{{ grand_child['text'] }}">
                                                            <input id="gtm-pcc-id-{{ grand_child_category_id }}" type="hidden" value="{{ grand_child_category_id }}">
                                                        </div>
                                                    </div>
                                                    {% set sub_child_index = sub_child_index + 1 %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                {% set sub_index = sub_index + 1 %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</li>
