{% extends '@__main__/public/base/layouts/default.html.twig' %}

{% set href = path('homepage') %}
{% set title = translation('title.site') %}
{% set site_title = '<a href="' ~ href ~ '">' ~ title ~ '</a>' %}

{% block content %}
    <main class="global-page">
        <section>
            <div class="container">
                <h2>KEBIJAKAN PRIVASI</h2>
                <p>
                    Kebijakan Privasi ini mengatur hal-hal mengenai informasi privasi dan penanganan data pengguna layanan www.Balimall.id, sebagai bukti komitmen peyedia layanan untuk melindungi privasi dan data pengguna layanan {{ site_title|raw }}. Dengan mengakses layanan {{ site_title|raw }} setiap pengguna menyatakan bahwa data yang digunakan adalah data yang benar dan sah dan memberikan persetujuan kepada penyedia layanan {{ site_title|raw }} untuk memperoleh, mengumpulkan, menyimpan, mengelola dan mempergunakan data tersebut sebagaimana tercantum dalam Kebijakan Privasi maupun Syarat dan Ketentuan.  Setiap pengguna yang mengakeses layanan {{ site_title|raw }} telah membaca, mengerti, memahami, menyetujui untuk terikat dan tunduk pada Syarat dan Ketentuan, Kebijakan Privasi, dan Ketentuan Lain yang terdapat dalam {{ site_title|raw }}. Kebijakan Privasi ini meliputi:
                </p>
                <ol class="decimal">
                    <li>
                        <strong>Perolehan dan Pengumpulan Data Pengguna</strong>
                        <p>
                            Data yang diperoleh dari setiap pengguna yang mengakses layanan {{ site_title|raw }}, dikumpulkan dan diolah untuk tujuan memperlancar proses transaksi, pengembangan dan pengujian produk guna meningkatkan keamanan dan pengembangan fitur, dan tujuan-tujuan lainnya selama diizinkan oleh peraturan perundang-undangan yang berlaku. Data pengguna yang dikumpulkan adalah:
                        </p>
                        <ol class="lw-alpha">
                            <li>
                                Data yang diserahkan secara mandiri oleh pengguna, termasuk namun tidak terbatas pada data yang diserahkan pada saat pengguna membuat atau memperbarui akun, termasuk diantaranya nama pengguna, alamat email, NIK, nomor telepon, password, alamat, foto, dan lain-lain, pada saat pengguna menghubungi layanan konsumen {{ site_title|raw }}, mengisi survei yang dikirimkan oleh atau atas nama {{ site_title|raw }}, melakukan interaksi dengan pengguna lainnya melalui fitur komentar, menggunakan layanan-layanan pada {{ site_title|raw }}, termasuk data transaksi yang detil, diantaranya jenis, jumlah dan/atau keterangan dari produk atau layanan yang dibeli, alamat pengiriman, kanal pembayaran yang digunakan, jumlah transaksi, tanggal dan waktu transaksi, serta detil transaksi lainnya, mengisi data-data pembayaran pada saat pengguna melakukan aktivitas transaksi pembayaran melalui {{ site_title|raw }}, termasuk namun tidak terbatas pada data rekening bank, kartu kredit, virtual account, instant payment, internet banking, gerai ritel; dan/atau menggunakan fitur yang membutuhkan izin akses terhadap perangkat pengguna.
                            </li>
                            <li>
                                Data yang terekam pada saat pengguna mempergunakan {{ site_title|raw }}, termasuk namun tidak terbatas pada: data lokasi riil atau perkiraannya seperti alamat IP, lokasi Wi-Fi, geo-location, dan sebagainya, data berupa waktu dari setiap aktivitas pengguna, termasuk aktivitas pendaftaran, login, transaksi, dan lain sebagainya, data penggunaan atau preferensi pengguna, diantaranya interaksi pengguna dalam menggunakan {{ site_title|raw }}, pilihan yang disimpan, serta pengaturan yang dipilih, data perangkat, diantaranya jenis perangkat yang digunakan untuk mengakses {{ site_title|raw }}, termasuk model perangkat keras, sistem operasi dan versinya, perangkat lunak, nomor IMEI, nama file dan versinya, pilihan bahasa, pengenal perangkat unik, pengenal iklan, nomor seri, informasi gerakan perangkat, dan/atau informasi jaringan seluler, data catatan (log), diantaranya catatan pada server yang menerima data seperti alamat IP perangkat, tanggal dan waktu akses, fitur aplikasi atau laman yang dilihat, proses kerja aplikasi dan aktivitas sistem lainnya, jenis peramban, dan/atau situs atau layanan pihak ketiga yang digunakan pengguna sebelum berinteraksi dengan {{ site_title|raw }}.
                            </li>
                            <li>
                                Data yang diperoleh dari sumber lain, termasuk mitra usaha {{ site_title|raw }} yang turut membantu dalam mengembangkan dan menyajikan layanan-layanan dalam {{ site_title|raw }} kepada pengguna, antara lain mitra penyedia layanan pembayaran, logistik atau kurir, infrastruktur situs, dan mitra-mitra lainnya, mitra usaha {{ site_title|raw }} tempat pengguna membuat atau mengakses akun {{ site_title|raw }}, seperti layanan media sosial, atau situs/aplikasi yang menggunakan API {{ site_title|raw }} atau yang digunakan {{ site_title|raw }}, penyedia layanan finansial, termasuk namun tidak terbatas pada lembaga atau biro pemeringkat kredit atau Lembaga Pengelola Informasi Perkreditan (LPIP), penyedia layanan pemasaran.
                            </li>
                            <li>
                                Sumber yang tersedia secara umum, data yang digabunggkan dan diolah oleh {{ site_title|raw }} dari sumber tersebut dengan data lain yang dimilikinya.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <strong>Penggunaan Data</strong>
                        <p>
                            Penyedia layanan {{ site_title|raw }} dapat menggunakan keseluruhan atau sebagian data yang diperoleh dan dikumpulkan dari pengguna sebagaimana disebutkan dalam bagian sebelumnya untuk hal-hal:
                        </p>
                        <ol class="lw-alpha">
                            <li>
                                Memproses segala bentuk permintaan, aktivitas maupun transaksi yang dilakukan oleh pengguna melalui {{ site_title|raw }}, termasuk untuk keperluan pengiriman produk kepada pengguna.
                            </li>
                            <li>
                                Penyediaan fitur-fitur untuk memberikan, mewujudkan, memelihara dan memperbaiki produk dan layanan kami, termasuk menawarkan, memperoleh, menyediakan, atau memfasilitasi layanan marketplace, asuransi, pembiayaan, pinjaman, maupun produk-produk lainnya melalui {{ site_title|raw }}, memungkinkan fitur untuk mempribadikan akun pengguna, melakukan kegiatan internal yang diperlukan untuk menyediakan layanan pada {{ site_title|raw }}, seperti pemecahan masalah software, bug, permasalahan operasional, melakukan analisis data, pengujian, dan penelitian, dan untuk memantau dan menganalisis kecenderungan penggunaan dan aktivitas.
                            </li>
                            <li>
                                Membantu pengguna pada saat berkomunikasi dengan pusat bantuan, diantaranya untuk memeriksa dan mengatasi permasalahan pengguna, mengarahkan pertanyaan pengguna kepada petugas pusat bantuan yang tepat untuk mengatasi permasalahan, dan ,engawasi dan memperbaiki tanggapan pusat bantuan {{ site_title|raw }}.
                            </li>
                            <li>
                                Menghubungi Pengguna melalui email, surat, telepon, fax, dan lain-lain, termasuk namun tidak terbatas, untuk membantu dan/atau menyelesaikan proses transaksi maupun proses penyelesaian kendala.
                            </li>
                            <li>
                                Menggunakan informasi yang diperoleh dari pengguna untuk tujuan penelitian, analisis, pengembangan dan pengujian produk guna meningkatkan keamanan dan keamanan layanan-layanan pada {{ site_title|raw }}, serta mengembangkan fitur dan produk baru.
                            </li>
                            <li>
                                Menginformasikan kepada pengguna terkait produk, layanan, promosi, studi, survei, berita, perkembangan terbaru, acara dan lain-lain, baik melalui {{ site_title|raw }} maupun melalui media lainnya. Penyedia layanan {{ site_title|raw }} dapat menggunakan informasi tersebut untuk mempromosikan dan memproses kontes dan undian, memberikan hadiah, serta menyajikan iklan dan konten yang relevan tentang layanan {{ site_title|raw }} dan mitra usahanya.
                            </li>
                            <li>
                                Melakukan monitoring ataupun investigasi terhadap transaksi-transaksi mencurigakan atau transaksi yang terindikasi mengandung unsur kecurangan atau pelanggaran terhadap Syarat dan Ketentuan atau ketentuan hukum yang berlaku, serta melakukan tindakan-tindakan yang diperlukan sebagai tindak lanjut dari hasil monitoring atau investigasi transaksi tersebut.
                            </li>
                            <li>
                                Dalam keadaan tertentu, penyedia layanan {{ site_title|raw }} mungkin perlu untuk menggunakan ataupun mengungkapkan data pengguna untuk tujuan penegakan hukum atau untuk pemenuhan persyaratan hukum dan peraturan yang berlaku, termasuk dalam hal terjadinya sengketa atau proses hukum antara pengguna dan penyedia layanan {{ site_title|raw }}.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <strong>Pengungkapan Data Pribadi Pengguna</strong>
                        <p>
                            Penyedia layanan {{ site_title|raw }} menjamin tidak ada penjualan, pengalihan, distribusi atau meminjamkan data pribadi pengguna kepada pihak ketiga lain, tanpa izin dari pengguna dan apabila terbukti adanya penyalahgunaan Data Pribadi Pengguna akibat kelalaian kami maka kami sebagai Penyedia layanan akan bertanggungjawab penuh, kecuali dalam hal-hal sebagai berikut:
                        </p>
                        <ol class="lw-alpha">
                            <li>
                                Dibutuhkan adanya pengungkapan data pengguna kepada mitra atau pihak ketiga lain yang membantu penyedia layanan dalam menyajikan layanan pada {{ site_title|raw }} dan memproses segala bentuk aktivitas pengguna dalam {{ site_title|raw }}, termasuk memproses transaksi, verifikasi pembayaran, pengiriman produk, dan lain-lain.
                            </li>
                            <li>
                                Penyedia layanan {{ site_title|raw }} dapat menyediakan informasi yang relevan kepada mitra usaha sesuai dengan persetujuan pengguna untuk menggunakan layanan mitra usaha, termasuk diantaranya aplikasi atau situs lain yang telah saling mengintegrasikan API atau layanannya, atau mitra usaha yang mana {{ site_title|raw }} telah bekerjasama untuk mengantarkan promosi, kontes, atau layanan yang dikhususkan.
                            </li>
                            <li>
                                Dibutuhkan adanya komunikasi antara mitra usaha {{ site_title|raw }} (seperti penyedia logistik, pembayaran, dan lain-lain) dengan pengguna dalam hal penyelesaian kendala maupun hal-hal lainnya.
                            </li>
                            <li>
                                Penyedia layanan {{ site_title|raw }} dapat menyediakan informasi yang relevan kepada vendor, konsultan, mitra pemasaran, firma riset, atau penyedia layanan sejenis.
                            </li>
                            <li>
                                Pengguna menghubungi penyedia layanan {{ site_title|raw }} melalui media publik seperti blog, media sosial, dan fitur tertentu pada {{ site_title|raw }}, komunikasi antara pengguna dan penyedia layanan {{ site_title|raw }} mungkin dapat dilihat secara publik.
                            </li>
                            <li>
                                Penyedia layanan {{ site_title|raw }} dapat membagikan informasi pengguna kepada anak perusahaan dan afiliasinya untuk membantu memberikan layanan atau melakukan pengolahan data untuk dan atas nama {{ site_title|raw }}.
                            </li>
                            <li>
                                Penyedia layanan {{ site_title|raw }} dapat membagikan data atau informasi pengguna yang diperlukan dalam rangka kelayakan kredit kepada lembaga atau biro pemeringkat kredit atau Lembaga Pengelola Informasi Perkreditan (LPIP).
                            </li>
                            <li>
                                Penyedia layanan {{ site_title|raw }} mengungkapkan data pengguna dalam upaya mematuhi kewajiban hukum dan/atau adanya permintaan yang sah dari aparat penegak hukum.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <strong>Cookies</strong>
                        <ol class="lw-alpha">
                            <li>
                                Cookies adalah file kecil yang secara otomatis akan mengambil tempat di dalam perangkat pengguna yang menjalankan fungsi dalam menyimpan preferensi maupun konfigurasi pengguna selama mengunjungi suatu situs.
                            </li>
                            <li>
                                Cookies tersebut tidak diperuntukkan untuk digunakan pada saat melakukan akses data lain yang pengguna miliki di perangkat komputer pengguna, selain dari yang telah Pengguna setujui untuk disampaikan.
                            </li>
                            <li>
                                Walaupun secara otomatis perangkat komputer pengguna akan menerima cookies, pengguna dapat menentukan pilihan untuk melakukan modifikasi melalui pengaturan browser pengguna yaitu dengan memilih untuk menolak cookies (pilihan ini dapat membatasi layanan optimal pada saat melakukan akses ke situs).
                            </li>
                        </ol>
                    </li>
                    <li>
                        <strong>Pilihan Pengguna dan Transparansi</strong>
                        <ol class="lw-alpha">
                            <li>
                                Setelah transaksi jual beli melalui marketplace berhasil, Penjual maupun Pembeli memiliki kesempatan untuk memberikan penilaian dan ulasan terhadap satu sama lain. Informasi ini mungkin dapat dilihat secara publik dengan persetujuan pengguna.
                            </li>
                            <li>
                                Pengguna dapat mengakses dan mengubah informasi berupa alamat email, nomor telepon, tanggal lahir, jenis kelamin, daftar alamat, metode pembayaran, dan rekening bank melalui fitur Pengaturan pada {{ site_title|raw }}.
                            </li>
                            <li>
                                Pengguna dapat menarik diri dari informasi atau notifikasi berupa buletin, ulasan, diskusi produk, pesan pribadi, atau pesan pribadi dari Admin yang dikirimkan oleh {{ site_title|raw }} melalui fitur pengaturan pada {{ site_title|raw }}. Penyedia layanan {{ site_title|raw }} tetap dapat mengirimkan pesan atau email berupa keterangan transaksi atau informasi terkait akun pengguna.
                            </li>
                            <li>
                                Sejauh diizinkan oleh ketentuan yang berlaku, pengguna dapat menghubungi penyedia layanan {{ site_title|raw }} untuk melakukan penarikan persetujuan terhadap perolehan, pengumpulan, penyimpanan, pengelolaan dan penggunaan data pengguna. Apabila terjadi demikian makapPengguna memahami konsekuensi bahwa pengguna tidak dapat menggunakan layanan {{ site_title|raw }}.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <strong>Penyimpanan dan Penghapusan Informasi</strong>
                        <p>
                            Penyedia layanan {{ site_title|raw }} akan menyimpan informasi selama akun pengguna tetap aktif dan dapat melakukan penghapusan sesuai dengan ketentuan peraturan hukum yang berlaku.
                        </p>
                    </li>
                    <li>
                        <strong>Pembaruan Kebijakan Privasi</strong>
                        <p>
                            Penyedia layanan {{ site_title|raw }} dapat sewaktu-waktu melakukan perubahan atau pembaruan terhadap Kebijakan Privasi ini. Penyedia layanan {{ site_title|raw }} menyarankan agar pengguna membaca secara seksama dan memeriksa halaman Kebijakan Privasi ini dari waktu ke waktu untuk mengetahui perubahan apapun. Dengan tetap mengakses dan menggunakan layanan Penyedia layanan {{ site_title|raw }}, maka pengguna dianggap menyetujui perubahan-perubahan dalam Kebijakan Privasi.
                        </p>
                    </li>
                </ol>
            </div>
        </section>
    </main>
{% endblock %}
