<div class="row">
    <div class="dc12">
        <div class="box" style="border: 1px solid #EDEDED">
            <h5>{{ 'label.filter_by'|trans }}</h5>
            <form id="form-filter" action="" method="GET" accept-charset="UTF-8">
                <div class="input">
                    {% set label = 'label.filter_keywords' %}
                    {% if app.user.role == 'ROLE_USER_SELLER' %}
                        {% set label = 'label.filter_keywords_seller' %}
                    {% endif %}

                    <input id="filter-keyword" type="text" name="keywords" placeholder="{{ label|trans }}" value="{{ filter_keywords|default('') }}">
                </div>
                <div class="input">
                    <select id="filter-status" name="status">
                        <option value="">--Pilih Status--</option>
                        {% set selected = filter_status|default('') %}

                        {% for key, label in order_statuses %}
                            <option value="{{ key }}" {{ selected == key ? 'selected' : '' }}>{{ label|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input" style="margin-bottom: auto">
                    <button id="btn-clear-filter" class="sBtn red">Clear</button>
                    <button id="btn-submit-filter" class="sBtn red">Filter</button>
                    <button id="btn-export-filter" data-href="{{ path('user_order_export', {'id': app.user.id }) }}" type="button" class="sBtn red">Unduh Excel</button>
                </div>
            </form>
        </div>
    </div>
</div>
