{% extends '@__main__/public/base/layouts/default.html.twig' %}

{% block body %}
    <div id="top-wrapper" class="{{ class }}">
        {% include '@__main__/public/base/partials/header.html.twig' %}
        <div class="red-box"></div>
        <main class="nothing-page">
            <section>
                <div class="container">
                    <div class="box">
                        <div class="box">
                            <div class="item-list">
                                <h2 class="large ct">{{ 'message.error.lkpp_exception'|trans|raw }}</h2>
                                <div class="ct input btn-wrapper">
                                    <a href="{{ path('homepage') }}" class="sBtn red">{{ 'button.return'|trans }}</a>
                                </div>
                                {{ render(controller('App\\Plugins\\ProductPlugin::onError')) }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div class="push"></div>
    </div>
    {% include '@__main__/public/base/partials/footer.html.twig' %}
    {% include '@__main__/public/base/partials/popup.html.twig' %}
{% endblock %}
